div{
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    /* border-width: 5px; 
    border-style: solid;
    border-color: rgb(42, 165, 134);
     */
     border: 5px solid blueviolet;
     text-align: center;
     /* border-radius: 50%; */

     /* left right bottom left */
     padding: 25px 25px 25px 25px;
     margin: 25px 25px 25px 25px;
   }
h1{
    
    width: 200px;
    /* border shorthand */
    border: 2px dashed black;

}