 div{
    background-color: black;
    height: 500px;
    width: 180px;
    /* background-color: black;  */

 #hi{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    padding: 25px 25px 25px 25px;
}
#hlo{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    padding: 25px 25px 25px 25px;
}
#hmm{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    padding: 25px 25px 25px 25px;
} 
 
 
